<html>
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <header>
        <div id="nav_color"></div>
        <div class="circle"></div>
        <div id="student_name"><p>Firstname Lastname</p></div>
        <nav>
            <ul>
                <li><img src="../Content/Images/cog.png" /><span>Dashboard</span></li>
                <li><img src="../Content/Images/stat.png" />Statistics</li>
                <li style="border-bottom:1px solid #d2d2d2"><img src="../Content/Images/comment.png" />Comment</li>
            </ul>
        </nav>
    </header>
    <div id="top_bar">
        <span>&gt; Dashboard</span>
    </div>
    <div id="container">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
