<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>

    <body>
        <header>
            <div id="nav_color"></div>
            <div class="circle"></div>
            <div id="student_name"><p>@GlobalVariables.CurrentUser.user_first_name  @GlobalVariables.CurrentUser.user_last_name</p></div>
            <nav>
                @if (GlobalVariables.CurrentUser.user_is_teacher)
                {
                    <a href="/Team"><img src="../Content/Images/cog.png" />Teams</a>
                }
                <a href="/Report"><img src="../Content/Images/stat.png" />Reporting</a>
                <a href="/Comment" style="border-bottom:1px solid #d2d2d2"><img src="../Content/Images/comment.png" />Comment</a>
            </nav>
        </header>
        <div id="top_bar">
            <span>&gt; Dashboard</span>
        </div>
        <div id="container">
            @RenderBody()
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
