@model List<Galileo.ViewModels.Module>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <a href="@ViewBag.Link@item.id">
                    <div class="module">
                        <div class="inner_mod">
                            <h1>@item.name</h1>
                            <h4>
                                Total Hours: <strong>@Math.Round(item.total_hours, 2)</strong> <br /> 
                                Hours Per Day: <strong>@Math.Round(item.hours_per_day, 2)</strong> <br /> 
                                Hours Per Week: <strong>@Math.Round(item.hours_per_week, 2)</strong>
                            </h4>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
