@model Galileo.ViewModels.CourseProjectsAndUsers

@{
    ViewBag.Title = "Project Page";
}

<h3>Projects</h3>
@foreach (var project in Model.projects.Where(p => p.project_is_team == false).ToList())
{
    <a class="module" href="Project?projectId=@project.project_id">
        <h1>@project.project_name</h1>
        <h4>Total Hours: <b>@project.project_total_hours</b> / Total Hours: <b>@project.project_total_hours</b> / Total Hours: <b>@project.project_total_hours</b></h4>
        <h5>v  see more  v</h5>
    </a>
}

<h3>Teams</h3>
@foreach (var team in Model.projects.Where(p => p.project_is_team == true).ToList())
{
    <a class="module" href="Project?projectId=@team.project_id">
        <h1>@team.project_name</h1>
        <h4>Total Hours: <b>@team.project_total_hours</b> / Total Hours: <b>@team.project_total_hours</b> / Total Hours: <b>@team.project_total_hours</b></h4>
        <h5>v  see more  v</h5>
    </a>
}

<h3>Users</h3>
@foreach (var user in Model.users)
{
    <a class="module" href="Individual?userId=@user.user_id">
        <h1>@user.user_first_name @user.user_last_name</h1>
        <h4>Total Hours: <b>@user.user_total_hours</b> / Total Hours: <b>@user.user_total_hours</b> / Total Hours: <b>@user.user_total_hours</b></h4>
        <h5>v  see more  v</h5>
    </a>
}