@model Galileo.ViewModels.CourseProjectsAndUsers

@{
    ViewBag.Title = "Team Member Page";
}


<h3>Project Manager</h3>
@foreach (var member in Model.users.Where(u => u.user_is_manager == true).ToList())
{
    <a class="module" href="Individual?userId=@member.user_id">
        <h1>@member.user_first_name @member.user_last_name</h1>
        <h5>v  see more  v</h5>
    </a>
}


<h3>Team Leaders</h3>
@foreach (var member in Model.users.Where(u => u.user_is_team_leader == true).ToList())
{
    <a class="module" href="Individual?userId=@member.user_id">
        <h1>@member.user_first_name @member.user_last_name</h1>
        <h5>v  see more  v</h5>
    </a>
}

<h3>Team Members</h3>
@foreach (var member in Model.users.Where(u => u.user_is_manager == false && u.user_is_team_leader == false).ToList())
{
    <a class="module" href="Individual?userId=@member.user_id">
        <h1>@member.user_first_name @member.user_last_name</h1>
        <h5>v  see more  v</h5>
    </a>
}